/* resulation: 1920 X 1080 */
*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

/* banner section */
.banner-container{
    background-image: url("./images/image2.jpg");
    background-repeat: no-repeat;
    background-size: cover; 
}
.banner-description{
    padding: 350px 380px;
    text-align: center;
    
}
.banner-description h1{
    font-size: 80px;
    color: white;
    padding-bottom: 10px;
}
.text{
    font-size: 30px;
    line-height: 55px;
    color: white;
    padding: 50px;
}
.donnate-btn{
    background-color: #ff5959;
    color: white;
    font-size: 25px;
    font-weight: 500;
    padding: 22px 40px;
    text-decoration: none;
    border-radius: 5px;
} 

/* donation section  */
.donation-container{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding: 200px;
}
.donation-info{
    width: 60%;
    margin: 0 auto;
}
.donation-title{
    font-size: 60px;
}
.donation-text{
    color: #707070;
}
.donation-amount{
    display: flex;
    justify-content: center;
}
.donation-amount h4{
    width: 150px;
    text-align: center;
    font-size: 40px;
    padding: 60px 20px;
    margin: 15px;
    border-radius: 5px;
    background-color: #fafafa;
    color: #707070;
}
#donation-two{
    border: 3px solid #ff5959;
    background-color: #ffeeee;
}
.donatation-textfield{
    margin-top: 50px;
    width: 70%;
    padding: 30px 0px;
    border-top: none;
    border-left: none ;
    border-right: none;
    border-color: #b3b3b3;
    outline: none;
    text-indent: 37.5%;
    font-size: 25px;
}
.donatation-textfield::placeholder{
    font-size: 30px;
    color: #b3b3b3;
}

/* donation plan section */
.donation-plan-info{
    width: 75%;
    margin: 0 auto;
    text-align: center;
}
.donation-catagory{
    display: flex;
    justify-content: center;
    margin: 50px 150px;
}
.donation-field{
    width: 25%;
    padding: 60px 30px;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 35px;
    margin-bottom: 200px;
}
.donation-field h5{
    font-size: 35px;
    padding: 30px 0px;
}
.donation-field p{
    font-size: 22px;
    line-height: 35px;
    color: #707070;
    text-align: left;
}
.donate-food{
    background-color: rgba(90, 182, 192, 0.1);
}
.donate-shelter{
    background-color: rgba(253, 77, 77, 0.1);
}
.donate-eduaction{
    background-color: rgba(255, 187, 0, 0.171);
}

/* donation news section  */
.donation-news-container{
    width: 80%;
    margin: 0 auto;
    text-align: center;
}
.donation-news-container h2{
    font-size: 60px;
}
#underline{
    width: 160px;
    margin: 0 auto;
    height: 5px;
    background-color: #ff5959;
    margin-bottom: 50px;
    background-image: linear-gradient(90deg,orange,tomato);
}
.donation-news{
    display: flex;
    justify-content: center;
    text-align: center;
}
.news-box{
    width: 28%;
    margin-bottom: 200px;
    margin-left: 30px;
    padding-bottom: 50px;
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.15);
}
.news-box img{
    width: 100%;
}
.news-box h6{
 font-size: 20px;
 padding: 25px;
}
.news-box-text{
    font-size: 18px;
    height: 100px;
    padding: 0 30px 45px;
}
.news-box a{
    text-decoration: none;
    font-size: 15px;
    font-weight: 700;
    color: #eb8888;
    
}

/* donation partner  */
.partner-container{
    width: 70%;
    margin: 0 auto;
}
.donation-partner{
    display: flex;
    margin-bottom: 80px;
}
.partner-text h2{
    font-size: 45px;
}
.partner-text{
    text-align: center;
}
.partner-about{
    font-size: 25px;
    text-align: justify;
    line-height: 40px;
}
.partner-about span{
    font-weight: 800;
}
.parter-underline{
    width: 488px;
    margin: 0 auto;
    height: 4px;
    background-color: #ff5959;
    margin-bottom: 50px;
    background-image: linear-gradient(90deg,orange,tomato);
}
.partner-info{
    width: 60%;
    padding: 100px;
}
.partner-logo{
    display: flex;
    width: 40%;
}
.partner-top img{
    margin-top: 85%;
    width: 70%;
    border-radius: 15px;
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.15);
    padding: 70px 30px;
}
.partner-buttom div{
    padding: 50px;
}
.partner-buttom img{
    width: 80%;
    border-radius: 15px;
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.15);
    padding: 70px 30px;
}

/* update section */
.update-container{
    margin-bottom: 150px;
}
.update-top-side{
    width: 60%;
}
.update-text{
    padding: 50px 150px;
}
#form-container{
    width: 45%;
    margin: 0 auto;
    background-color: rgba(255, 187, 0, 0.171);
    text-align: center;
    padding: 110px;
}
.email-textfield{
    border: none;
    outline: none;
    font-size: 25px;
    width: 35%;
    padding: 20px;
    border-radius: 10px 0px 0px 10px;
    background-color: #d9d9d9;
}
.email-textfield::placeholder{
    font-size: 22px;
    font-weight: 600;
    color: #aa9f9f;
}
.subcribe-btn{
    text-decoration: none;
    font-size: 25px;
    font-weight: 600;
    color: white;
    background-color: #ff5959;
    border-radius: 0px 10px 10px 0px;
    padding: 20px 40px;
}



/* footer section */
footer{
    margin-top: 200px;
    background-color: black;
}
.footer-section{
    width: 400px;
    margin: 0 auto;
    padding: 60px;
    text-align: center;
}
.footer-section h3{
    color: #ff5959;
    font-family: 'Lobster', cursive;
    font-weight: 500;
    font-size: 50px;
    padding: 25px;
}
.footer-section p{
    color: #d9dbe1;
    font-size: 20px;
    padding-bottom: 20px;
}


